.html
{
	background: #FFFFFF url("../images/594342.jpg") no-repeat center center fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 268px;
	padding-bottom: 500px;
	margin-left: auto;
	margin-right: auto;
}

#u473
{
	z-index: 33;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 168px;
	left: -381px;
}

#menuu243
{
	z-index: 2;
	width: 200px;
	top: 100px;
	left: 50%;
	margin-left: -500px;
}

#u244
{
	width: 200px;
}

#u247
{
	width: 200px;
	min-height: 19px;
	padding-bottom: 99px;
	margin-right: -10000px;
}

#u247:hover
{
	margin: 0px -10000px 0px 0px;
}

#u249-4
{
	width: 200px;
	min-height: 19px;
	margin-right: -10000px;
	top: 49px;
}

#u247:hover #u249-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u285
{
	width: 200px;
	min-height: 19px;
	padding-bottom: 99px;
	margin-right: -10000px;
}

#u286-4
{
	width: 200px;
	min-height: 19px;
	margin-right: -10000px;
	top: 49px;
}

#u247.MuseMenuActive #u249-4,#u285:hover #u286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u271
{
	width: 200px;
	min-height: 19px;
	padding-bottom: 99px;
	margin-right: -10000px;
}

#u274-4
{
	width: 200px;
	min-height: 19px;
	margin-right: -10000px;
	top: 49px;
}

#u285.MuseMenuActive #u286-4,#u271:hover #u274-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u278
{
	width: 200px;
	min-height: 19px;
	padding-bottom: 100px;
	margin-right: -10000px;
}

#u280-4
{
	width: 200px;
	min-height: 19px;
	margin-right: -10000px;
	top: 50px;
}

#u271.MuseMenuActive #u274-4,#u278:hover #u280-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u284,#u270,#u277,#u251
{
	width: 200px;
	margin-top: 2px;
}

#u252
{
	width: 200px;
	min-height: 19px;
	padding-bottom: 100px;
	margin-right: -10000px;
}

#u247.MuseMenuActive,#u285.MuseMenuActive,#u271.MuseMenuActive,#u278.MuseMenuActive,#u252.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u253-4
{
	width: 200px;
	min-height: 19px;
	margin-right: -10000px;
	top: 50px;
}

#u278.MuseMenuActive #u280-4,#u252:hover #u253-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u252.MuseMenuActive #u253-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u424-16
{
	z-index: 34;
	width: 507px;
	min-height: 235px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.4);
	text-align: center;
	position: fixed;
	top: 283px;
	left: 50%;
	margin-left: -154px;
	-pie-background: rgba(255, 255, 255, 0.4);
}

#u424,#u424-2,#u424-3,#u424-4,#u424-5,#u424-6,#u424-7,#u424-10
{
	font-size: 21px;
	line-height: 21px;
	padding-left: 145px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u424-12,#u424-13
{
	font-size: 21px;
	line-height: 25px;
	padding-left: 145px;
	color: #FFFFFF;
	font-family: montserrat, sans-serif;
	font-weight: 400;
}

#u443
{
	z-index: 50;
	width: 427px;
	position: fixed;
	top: 306px;
	left: 50%;
	margin-left: -114px;
}

#page .verticalspacer
{
	clear: both;
}

