.html
{
	background: #FFFFFF url("../images/594342.jpg") no-repeat center center scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 767.9999999999993px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 50px;
	margin-bottom: 50px;
}

#ppu342
{
	width: 0.01px;
	margin-left: 450px;
	position: relative;
}

#u342
{
	z-index: 155;
	width: 50px;
	height: 57px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 95px;
	position: relative;
}

#u341-7
{
	z-index: 78;
	width: 150px;
	min-height: 57px;
	color: #FFFFFF;
	text-align: right;
	position: relative;
}

#u340-4
{
	z-index: 34;
	width: 300px;
	min-height: 118px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.4);
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 150px;
	-pie-background: rgba(255, 255, 255, 0.4);
}

#menuu243
{
	z-index: 2;
	width: 200px;
	top: 100px;
	left: 50%;
	margin-left: -500px;
}

#u244
{
	width: 200px;
}

#u247
{
	width: 200px;
	min-height: 19px;
	padding-bottom: 99px;
	margin-right: -10000px;
}

#u247:hover
{
	margin: 0px -10000px 0px 0px;
}

#u249-4
{
	width: 200px;
	min-height: 19px;
	margin-right: -10000px;
	top: 49px;
}

#u247:hover #u249-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u285
{
	width: 200px;
	min-height: 19px;
	padding-bottom: 99px;
	margin-right: -10000px;
}

#u286-4
{
	width: 200px;
	min-height: 19px;
	margin-right: -10000px;
	top: 49px;
}

#u247.MuseMenuActive #u249-4,#u285:hover #u286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u271
{
	width: 200px;
	min-height: 19px;
	padding-bottom: 99px;
	margin-right: -10000px;
}

#u274-4
{
	width: 200px;
	min-height: 19px;
	margin-right: -10000px;
	top: 49px;
}

#u285.MuseMenuActive #u286-4,#u271:hover #u274-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u278
{
	width: 200px;
	min-height: 19px;
	padding-bottom: 100px;
	margin-right: -10000px;
}

#u280-4
{
	width: 200px;
	min-height: 19px;
	margin-right: -10000px;
	top: 50px;
}

#u271.MuseMenuActive #u274-4,#u278:hover #u280-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u284,#u270,#u277,#u251
{
	width: 200px;
	margin-top: 2px;
}

#u252
{
	width: 200px;
	min-height: 19px;
	padding-bottom: 100px;
	margin-right: -10000px;
}

#u247.MuseMenuActive,#u285.MuseMenuActive,#u271.MuseMenuActive,#u278.MuseMenuActive,#u252.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u253-4
{
	width: 200px;
	min-height: 19px;
	margin-right: -10000px;
	top: 50px;
}

#u278.MuseMenuActive #u280-4,#u252:hover #u253-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u252.MuseMenuActive #u253-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#pu473
{
	width: 0.01px;
	left: -381px;
	position: relative;
}

#u473
{
	z-index: 33;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
}

#pu347
{
	width: 0.01px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 831px;
}

#u347
{
	z-index: 156;
	width: 50px;
	height: 57px;
	border-color: #000000;
	margin-left: 95px;
	position: relative;
	background: #FFFFFF url("../images/rick-u347-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u346-7
{
	z-index: 85;
	width: 150px;
	min-height: 57px;
	color: #FFFFFF;
	text-align: right;
	position: relative;
}

#u348-4
{
	z-index: 38;
	width: 300px;
	min-height: 118px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.4);
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 981px;
	-pie-background: rgba(255, 255, 255, 0.4);
}

#rick
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 981px;
}

#u353
{
	z-index: 157;
	width: 50px;
	height: 57px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 95px;
	position: relative;
}

#u352-7
{
	z-index: 92;
	width: 150px;
	min-height: 57px;
	color: #FFFFFF;
	text-align: right;
	position: relative;
}

#u354-4
{
	z-index: 42;
	width: 300px;
	min-height: 205px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.4);
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 150px;
	-pie-background: rgba(255, 255, 255, 0.4);
}

#ppu359
{
	width: 0.01px;
	margin-left: 450px;
	margin-top: 18px;
	position: relative;
}

#u359
{
	z-index: 158;
	width: 50px;
	height: 57px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 95px;
	position: relative;
}

#u358-7
{
	z-index: 99;
	width: 150px;
	min-height: 57px;
	color: #FFFFFF;
	text-align: right;
	position: relative;
}

#u360-4
{
	z-index: 46;
	width: 300px;
	min-height: 118px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.4);
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 150px;
	-pie-background: rgba(255, 255, 255, 0.4);
}

#u365
{
	z-index: 159;
	width: 50px;
	height: 57px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 95px;
	position: relative;
}

#u364-7
{
	z-index: 106;
	width: 150px;
	min-height: 57px;
	color: #FFFFFF;
	text-align: right;
	position: relative;
}

#u366-4
{
	z-index: 50;
	width: 300px;
	min-height: 118px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.4);
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 150px;
	-pie-background: rgba(255, 255, 255, 0.4);
}

#u397
{
	z-index: 164;
	width: 50px;
	height: 57px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 95px;
	position: relative;
}

#u398-7
{
	z-index: 141;
	width: 150px;
	min-height: 57px;
	color: #FFFFFF;
	text-align: right;
	position: relative;
}

#u396-4
{
	z-index: 70;
	width: 300px;
	min-height: 118px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.4);
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 150px;
	-pie-background: rgba(255, 255, 255, 0.4);
}

#u372
{
	z-index: 160;
	width: 50px;
	height: 57px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 95px;
	position: relative;
}

#u371-7
{
	z-index: 113;
	width: 150px;
	min-height: 57px;
	color: #FFFFFF;
	text-align: right;
	position: relative;
}

#u371-2
{
	font-size: 17px;
	line-height: 20px;
	padding-right: 5px;
	font-family: raleway, sans-serif;
	font-weight: 500;
}

#u373-4
{
	z-index: 54;
	width: 300px;
	min-height: 118px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.4);
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 150px;
	-pie-background: rgba(255, 255, 255, 0.4);
}

#ppu365,#ppu379
{
	width: 0.01px;
	margin-left: 450px;
	margin-top: 19px;
	position: relative;
}

#u379
{
	z-index: 161;
	width: 50px;
	height: 57px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 95px;
	position: relative;
}

#u380-7
{
	z-index: 120;
	width: 150px;
	min-height: 57px;
	color: #FFFFFF;
	text-align: right;
	position: relative;
}

#u378-4
{
	z-index: 58;
	width: 300px;
	min-height: 118px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.4);
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 150px;
	-pie-background: rgba(255, 255, 255, 0.4);
}

#yash
{
	margin-left: 600px;
	margin-top: 9px;
	position: relative;
}

#ppu410
{
	width: 0.01px;
	margin-left: 450px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u410
{
	z-index: 165;
	width: 50px;
	height: 57px;
	border-color: #000000;
	margin-left: 95px;
	position: relative;
	background: #FFFFFF url("../images/yash-u410-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u411-7
{
	z-index: 148;
	width: 150px;
	min-height: 57px;
	color: #FFFFFF;
	text-align: right;
	position: relative;
}

#u409-4
{
	z-index: 74;
	width: 300px;
	min-height: 102px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.4);
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 150px;
	-pie-background: rgba(255, 255, 255, 0.4);
}

#ppu386
{
	width: 0.01px;
	margin-left: 450px;
	margin-top: 23px;
	position: relative;
}

#u386
{
	z-index: 162;
	width: 50px;
	height: 57px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 95px;
	position: relative;
}

#u387-7
{
	z-index: 127;
	width: 150px;
	min-height: 57px;
	color: #FFFFFF;
	text-align: right;
	position: relative;
}

#u385-4
{
	z-index: 62;
	width: 300px;
	min-height: 118px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.4);
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 150px;
	-pie-background: rgba(255, 255, 255, 0.4);
}

#aashna
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 150px;
}

#ppu353,#ppu397,#ppu372,#ppu393
{
	width: 0.01px;
	margin-left: 450px;
	margin-top: 20px;
	position: relative;
}

#pu342,#pu353,#pu359,#pu365,#pu397,#pu372,#pu379,#pu410,#pu386,#pu393
{
	width: 0.01px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u393
{
	z-index: 163;
	width: 50px;
	height: 57px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 95px;
	position: relative;
}

#u394-7
{
	z-index: 134;
	width: 150px;
	min-height: 57px;
	color: #FFFFFF;
	text-align: right;
	position: relative;
}

#u341-2,#u346-2,#u352-2,#u358-2,#u364-2,#u398-2,#u380-2,#u411-2,#u387-2,#u394-2
{
	font-size: 18px;
	line-height: 22px;
	padding-right: 5px;
	font-family: raleway, sans-serif;
	font-weight: 500;
}

#u341-5,#u346-5,#u352-5,#u358-5,#u364-5,#u398-5,#u371-5,#u380-5,#u411-5,#u387-5,#u394-5
{
	font-size: 10px;
	line-height: 12px;
	padding-right: 5px;
	font-family: raleway, sans-serif;
	font-weight: 300;
}

#u392-4
{
	z-index: 66;
	width: 300px;
	min-height: 118px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.4);
	color: #FFFFFF;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 150px;
	-pie-background: rgba(255, 255, 255, 0.4);
}

#u340-2,#u348-2,#u354-2,#u360-2,#u366-2,#u396-2,#u373-2,#u378-2,#u409-2,#u385-2,#u392-2
{
	padding-left: 5px;
	padding-top: 5px;
}

#masao,#payal,#cleo,#emily,#ramya,#morgan,#wendy
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 150px;
}

#page .verticalspacer
{
	clear: both;
}

